.sidebar{
    float: left;
    width: 25%;
    height: 91.5vh;
    background: rgba(204, 204, 204, 0.8);
}
.body{
    height: 91.5vh;
    width: 75%;
    background: black;
    float: right;
}

.body > h1{
 background: black;
 margin: 0;
 color: rgb(50, 142, 223);
}

.c1{
    position: fixed;
    left: 57%;
    top: 58%;
}
.c2{
    position: fixed;
    left: 60%;
    top: 58%;
}
.c3{
    position: fixed;
    left: 63%;
    top: 58%;
}
.c4{
    position: fixed;
    left: 66%;
    top: 58%;
}
